@font-face {
	font-family: "crash";
	src: url("../fontovi/crash.ttf");
}

body {
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	/*background-image: url('../slike/pozadine/mainPozadina.png');*/
	background-color: black;
	background-repeat: no-repeat;
}

h1, h2 {
	width: 185px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 18px;
	font-family: "crash";
	text-align: center;
	font-size: 32px;
	color: orange;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2:hover {
	cursor: pointer;
}

#logIn {
	width: 184px;
	margin: 0 auto;
}

#createAccount {
	width: 184px;
	margin: 0 auto;
	display: none;
}

	input {
		width: 182px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.submit {
		width: 186px;
	}

	.submit:hover {
		cursor: pointer;
	}

	select {
		margin-bottom: 10px;
	}