body {
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: green;
}

div {
	border: 1px solid black;
}

div#naslov {
	width: 698px;
	height: 98px;
	margin: 0 auto;
	margin-bottom: 30px;
}

div#mainSajt {
	float: left;
	width: 738px;
	/*height: 898px;*/
	margin-bottom: 30px;
}

	div.liga {
		width: 318px;
		height: 368px;
		display: inline-block;
		margin-left: 32px;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
	}

		div.imeLige {
			width: 268px;
			height: 68px;
			margin: 0 auto;
			background-image: url('../slike/pozadine/allPickLiga.png');
			background-position: center;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			color: white;
		}

		table.tabelaLige {
			border: 1px solid black;
			margin-left: 10px;
			margin-right: 10px;
			border-spacing: 0px;
			width: 296px;
		}

		table.tabelaLige tr:nth-child(even) {
			background-color: rgba(255, 255, 255, 0.5);
		}

		table.tabelaLige tr:nth-child(odd) {
			background-color: rgba(255, 255, 255, 0.7);
		}

div#topIgraci {
	float: right;
	width: 238px;
	height: 298px;
	margin-bottom: 30px;
}

	div.topIgracMapa {
		width: 228px;
		height: 54px;
		position: absolute;
	}

	img.topIgracMapa {
		width: 100%;
		height: 100%;
	}
	
	div.topIgrac {
		width: 228px;
		height: 54px;
		margin: 0 auto;
		margin-top: 5px;
		color: white;
	}

	table.tabelaTopIgraca {
		border-spacing: 0px;
		width: 100%;
	}

	table.tabelaTopIgraca tr {
		background-image: url("../slike/pozadine/ctrMape/papusPyramid.png");
		background-position: center;
		background-attachment: fixed;
	}

	td.topIgracIme {
		width: 100px;
		text-align: center;
	}

	td.topIgracVreme {
		text-align: right;
	}

div#eventovi {
	float: right;
	width: 238px;
	height: 298px;
}

div#informacije {
	clear: left;
	width: 898px;
	height: 128px;
	margin: 0 auto;
	margin-bottom: 120px;
}

img.logoKarakteraNajmanji {
	height: 30px;
}

img.logoKarakteraSrednji {
	height: 48px;
	width: 54px;
}