@font-face {
	font-family: "crash";
	src: url("../fontovi/crash.ttf");
}

a:hover {color: red; text-decoration: none;}			/* LINKOVI */
a:visited {color: orange; text-decoration: none;}
a:link {color: orange; text-decoration: none;}
a:active {color: orange; text-decoration: none;}

body {
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
	background-image: url('../slike/pozadine/back.png');
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
}

div#admin {
	font-family: "crash";
	font-size: 20px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

div#korisnik {
	width: 200px;
	height: 92px;
	position: fixed;
	top: 0px;
	margin-left: 797px;
	text-align: center;
	font-family: "crash";
	font-size: 20px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	border: 1px solid orange;
	background-color: rgba(0, 0, 0, 0.6);
}

div#naslov {
	width: 320px;
	height: 98px;
	margin: 0 auto;
	margin-bottom: 100px;
	border: 0px;
}

	img#naslov {
		width: 320px;
	}

div#mainSajt {
	float: left;
	width: 738px;
	/*height: 898px;*/
	margin-bottom: 30px;
	font-family: "crash";
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	border: 1px solid orange;
	background-color: rgba(0, 0, 0, 0.6);
	/*background-image: url("../slike/pozadine/mainSajtPozadina.png");*/
}

	div#mainSajt p {
		font-size: 100px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 0px;
	}

	div.liga {
		width: 318px;
		height: 368px;
		display: inline-block;
		margin-left: 32px;
		margin-top: 30px;
		margin-bottom: 30px;
		/*background-image: url('../slike/pozadine/ligaPozadina.png');*/
		text-align: center;
		border: 0px;
	}

		div.imeLige {
			width: 268px;
			height: 68px;
			margin: 0 auto;
			/*background-image: url('../slike/pozadine/allPickLiga.png');
			background-position: center;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;*/
			border: 1px solid orange;
			border-bottom: 0px;
			background-color: rgba(0, 0, 0, 0.6);

		}

		div.imeLige h2 {
			color: white;
			font-family: "crash";
			font-size: 46px;
			margin-top: 14px;
			color: orange;
		}

		table.tabelaLige {
			border: 1px solid orange;
			margin-left: 10px;
			margin-right: 10px;
			border-spacing: 0px;
			width: 296px;
			font-size: 22px;
		}

		table.tabelaLige tr:nth-child(even) {
			background-color: rgba(0, 0, 0, 0.5);
		}

		table.tabelaLige tr:nth-child(odd) {
			background-color: rgba(0, 0, 0, 0.7);
		}

		td.ligaIgracIme {
			text-align: left;
		}

div#topIgraci {
	float: right;
	width: 238px;
	height: 298px;
	margin-bottom: 30px;
	border: 0px;
}

	div#topIgraci p {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 5px;
		font-family: "crash";
		font-size: 28px;
		color: orange;
		text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
	}

	div#topIgraciMapSelect {
		width: 210px;
		margin: 0 auto;
		margin-bottom: 0px;
		border: 1px solid orange;
		border-bottom: 0px;
		background-color: rgba(0, 0, 0, 0.6);
	}

	div#topIgraciMapSelect select {
		margin-left: 42px;
		margin-bottom: 10px;
	}

	table#tabelaTopIgraca {
		border-spacing: 0px;
		width: 100%;
	}

	table#tabelaTopIgraca tr:nth-child(even) {
		background-color: rgba(255, 255, 255, 0.5);
	}

	table#tabelaTopIgraca tr:nth-child(odd) {
		background-color: rgba(255, 255, 255, 0.7);
	}

	/*table.tabelaTopIgraca tr {
		background-image: url("../slike/pozadine/ctrMape/papusPyramid.png");
		background-position: center;
		background-attachment: fixed;
	}*/

	td.topIgracIme {
		width: 100px;
		text-align: center;
	}

	td.topIgracVreme {
		text-align: right;
	}

div#eventovi {
	float: right;
	width: 238px;
	height: 298px;
	text-align: center;
	font-family: "crash";
	font-size: 40px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	border: 1px solid orange;
	background-color: rgba(0, 0, 0, 0.6);
}

	table#tabelaEventova {
		width: 100%;
		border-spacing: 0px;
		text-align: center;
	}

	table#tabelaEventova tr {
		width: 100%;
		height: 54px;
	}

	table#tabelaEventova tr:nth-child(even) {
		background-color: rgba(255, 255, 255, 0.5);
	}

	table#tabelaEventova tr:nth-child(odd) {
		background-color: rgba(255, 255, 255, 0.7);
	}

div#informacije {
	clear: left;
	width: 898px;
	height: 128px;
	margin: 0 auto;
	margin-bottom: 120px;
	text-align: center;
	font-family: "crash";
	font-size: 40px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
	border: 1px solid orange;
	background-color: rgba(0, 0, 0, 0.6);
}

img.logoKarakteraMali {
	height: 30px;
	width: 36px;
}

img.logoKarakteraSrednji {
	height: 48px;
	width: 54px;
}

#profil {				/* POZADINA MODALA KOJI SE OTVORI KADA KLIKNES NA NEKI PROFIL */
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#profilModal {			/* CONTENT DIV TOG MODALA KOJI SE OTVORI */
	background-color: rgba(0,0,0,0.8);
	margin: auto;
	margin-top: 8%;
	padding: 20px;
	border: 1px solid orange;
	width: 584px;
	height: 550px;
}

#profilModalCloseButton {			/* X DUGME ZA ZATVARANJE MODALA */
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#profilModalCloseButton:hover, #profilModalCloseButton:focus {		/* EFEKTI TOG DUGMETA */
    color: black;
    text-decoration: none;
    cursor: pointer;
}