@font-face {
	font-family: "crash";
	src: url("../fontovi/crash.ttf");
}

a:hover {color: red; text-decoration: none;}			/* LINKOVI */
a:visited {color: orange; text-decoration: none;}
a:link {color: orange; text-decoration: none;}
a:active {color: orange; text-decoration: none;}

#profilAvatar {
	height: 100px;
	width: 100px;
	float: left;
}

	#profilAvatar img {
		width: 100%;
		height: 100%;
	}

#profilIme {
	text-align: center;
	font-family: "crash";
	font-size: 46px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

#profilRanks {
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-family: "crash";
	font-size: 26px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

p {
	font-family: "crash";
	text-align: center;
	font-size: 36px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

table#profilTimes {
	width: 100%;
	border-spacing: 0px;
	border: 1px solid orange;
	font-family: "crash";
	font-size: 24px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

	table#profilTimes td {
		padding: 5px;
	}

	table#profilTimes tr:nth-child(even) {
		background-color: rgba(0, 0, 0, 0.5);
	}

	table#profilTimes tr:nth-child(odd) {
		background-color: rgba(20, 20, 20, 0.7);
	}

/* UKLANJANJE SCROLLBARA SA IFRAMEA*/

html {
    overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
     width: 0px;  remove scrollbar space */
	 background: transparent;  /* optional: just make scrollbar invisible */
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
	background-color: red;
}