@font-face {
	font-family: "crash";
	src: url("../fontovi/crash.ttf");
}

a:hover {color: orange; text-decoration: none;}			/* LINKOVI */
a:visited {color: orange; text-decoration: none;}
a:link {color: orange; text-decoration: none;}
a:active {color: orange; text-decoration: none;}

body {
	margin: 0px;

}

table#tabelaTopIgraca {
		border-spacing: 0px;
		width: 236px;
		border: 1px solid orange;
	}

table#tabelaTopIgraca tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.5);
}

table#tabelaTopIgraca tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.7);
}

	/*table.tabelaTopIgraca tr {
		background-image: url("../slike/pozadine/ctrMape/papusPyramid.png");
		background-position: center;
		background-attachment: fixed;
	}*/

td.topIgracIme {
	width: 100px;
	text-align: left;
	font-family: "crash";
	font-size: 24px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

td.topIgracVreme {
	text-align: left;
	font-family: "crash";
	font-size: 24px;
	color: orange;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

img.logoKarakteraMali {
	height: 30px;
	width: 36px;
}

img.logoKarakteraSrednji {
	height: 48px;
	width: 54px;
}